.text-custom-blue {
    color: #2d3450;
}

.bg-custom-blue-light {
    background-color: rgba(45, 52, 80, 0.2);
}

.border-custom-blue {
    border-color: #2d3450;
}

.hover\:bg-custom-blue-dark:hover {
    background-color: rgba(45, 52, 80, 0.3);
}