.text-custom-blue {
    color: #2d3450;
}

.bg-custom-red {
    background-color: #bd0f14;
}

.btn-primary {
    background-color: rgba(45, 52, 80, 0.2);
    color: #2d3450;
    border: 2px solid #2d3450;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: rgba(45, 52, 80, 0.3);
}

.btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input, select {
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
}

.precioTotal{
    font: bold;
    color: #bd0f14;
    font-size: 25px;
}


.loading-spinner {
  /* Tamaño del círculo */
  width: 1em;
  height: 1em;
  
  /* Color y borde para hacerlo girar */
  border: 3px solid #f3f3f3; /* Color claro del círculo */
  border-top: 3px solid #3498db; /* Color de la parte giratoria (ej. azul) */
  border-radius: 50%;
  
  /* Animación: se llama 'spin' y dura 1 segundo, lineal y repetido */
  animation: spin 1s linear infinite;
  
  /* Asegura que esté en línea con el texto */
  display: inline-block; 
  margin-right: 10px;
}

/* Definición de la animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
