/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    background-image: url('/assets/img/fondo-respuesta.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
html, body { height: 100%; }

.recordatorio {
    font-size: 0.875rem; 
    color: black; 
    margin: 1rem; 
    font-size: 12px;
}